.statusContainer {
  display: flex;
  justify-content: end;
}

.company {
  padding-left: 19px;
  padding-right: 27px;
}

.email {
  padding-left: 10px;
}

.status {
  transform: translateX(-12px);
  display: inline-block;
  text-align: center;
  width: 80px;
  padding: 3px 10px;
  border-radius: 4px;
  color: white;
  border: 1px solid;
}

.active {
  background-color: #16c09861;
  color: #008767;
  border-color: #008767;
}

.inactive {
  background: #ffc5c5;
  color: #df0404;
  border-color: #df0404;
}
